*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(18, 151, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: white;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 12px;
    height: 190px;
    transition: height 0.2s ease;
}

.container.active{
    height: 430px;
}

.container p{
    color: grey;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form input{
    margin: 10px 0;
    padding: 12px 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;

}

.form button{
    padding: 12px 0;
    background-color: rgb(18, 151, 241);
    color: white;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.qr-code{
    padding: 20px 0;
    border: 1px solid #ccc;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

.container.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}